@charset "UTF-8";
.partner_address_table [data-id="type"] {
  width: 12%;
}

.partner_address_table [data-id="street"] {
  width: 18%;
}

.partner_address_table [data-id="street2"],
.partner_address_table [data-id="zip"] {
  width: 12%;
}

.partner_address_table [data-id="city"],
.partner_address_table [data-id="state_id"],
.partner_address_table [data-id="country_id"] {
  width: 12%;
}

.partner_address_table [data-id="preferred"] {
  width: 10%;
}

.partner_email_table [data-id="type"] {
  width: 25%;
}

.partner_email_table [data-id="name"] {
  width: 65%;
}

.partner_email_table [data-id="preferred"] {
  width: 10%;
}

.partner_phone_table [data-id="type"] {
  width: 25%;
}

.partner_phone_table [data-id="name"] {
  width: 75%;
}